*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.email-container{
    margin-left: 16px;
}
.input-field{
    border-radius: 10px;
    margin-top: 5px;
    // border: none;
    border: 1px solid rgb(206, 206, 219);
    padding: 5px;
}
.update-button{
    margin-top: 8px;
    border-radius: 10px;
}

.form-container{
    border: 2px solid black;
    border-radius: 15px;
    padding: 12px;
    width: 560px;
}

.password-container{
    border: 2px solid black;
    padding: 12px;
    border-radius: 15px;
    width: 965px;
    margin-top: 18px;
}